body {
    font-family: 'Poiret One', sans-serif;
}
row {
    max-width: 1350px;
}
.mainheader {
    background-image: url(../images/b3.png);
}

/*
=========================
mainheader
=========================
*/


/*
=========================
nav bar
=========================
*/

.menu {
    font-size: 20px;
    font-weight: 400;
    background-color: #6239AB;
    opacity: 0.6;
}
.menu a {
    color: #000;
}

/*
===========================
four e's
=============================
*/


/*=======================
main
==============================
*/


/*
===============================
footer
=================================
*/
