body {
    font-family: 'Poiret One', cursive;
    background-color: #494949;
    color: ;
}
h1,
h2,
h3,
h4,
h6 {
    font-family: 'Roboto', sans-serif;
}

/*
=========================
mainheader
=========================
*/


/*
=========================
nav bar
=========================
*/

.menu {
    font-size: 20px;
    font-weight: 400;
}
.menu li img {
    /*    padding-right: 30%;*/
}
.menu a {
    color: #EAFFDA;
}

/*
===========================
four e's
=============================
*/


/*=======================
main
==============================
*/


/*
===============================
footer
=================================
*/
