body {
    font-family: 'Poiret One', sans-serif;
}
.landing {
    background-image: url(../images/b3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*
=========================
nav bar
=========================
*/

.menu {
    font-size: 20px;
    font-weight: 400;
    background-color: #6239AB;
    opacity: 0.6;
}
.menu a {
    color: #fff;
}

/*
=========================
titlecontent
=========================
*/

.titly {
    padding: 20% 20% 20% 20%;
}
.titly h3 {
    font-size: 4rem;
    color: #6A7FDB;
    font-weight: 800;
    text-align: center;
}
.titly p {
    font-size: 2rem;
    color: #6A7FDB;
    font-weight: 100;
    text-align: center;
}

/*
===========================
four e's
=============================
*/


/*=======================
main
==============================
*/


/*
===============================
footer
=================================
*/
