body {
    font-family: 'Poiret One', cursive;
    background-color: darkgray;
    color: purple;
}
h1,
h2,
h3,
h4,
h6 {
    font-family: 'Roboto', sans-serif;
}

/*
============================
     image slider css
============================
*/

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
body {
    margin: 0;
}
div#slider {
    overflow: hidden;
}
div#slider figure img {
    width: 20%;
    float: left;
}
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

/*
===========================
header
===========================
*/

.mainheader h1 {
    font-size: 40px;
    color: purple;
}

/*
===========================
four e's
=============================
*/

#base ul li {
    list-style: none;
    display: inline-block;
    column-gap: normal;
    padding: 0 1px 1px 2px;
}
#base h5 {
    margin-bottom: 70px;
    font-size: 25px;
    font-weight: 700;
    color: #c5fc3f;
    text-align: center;
    font-family: 'Poiret one', cursive;
}

/*=======================
main
==============================
*/

main p {
    background-color: aliceblue;
    text-align: center;
    align-content: center;
    font-size: 23px;
    font-weight: 600;
}

/*
===============================
footer
=================================
*/

footer p {
    height: 50px;
    margin: 10px 10px 10px 10px;
    padding: inherit;
    text-align: center;
}
.share ul li {
    align-content: center;
    text-align: center;
    display: inline-block;
    margin: 0 20px 0 20px;
    padding: 0 3px 0 3px;
}
.share img {
    height: 42px;
}
small {
    font-size: 12px;
    text-align: center;
    color: black;
}
